﻿@model IEnumerable<StudentScheduler.Models.School>
@{
    ViewBag.Title = "Schools Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gumbotron"> 

    <h2>Schools</h2>

    @if (User.IsInRole("Administrator"))
     {
        @Html.ActionLink("Add a School", "Create", null, new { @class = "btn btn-outline-primary btn-sm" })
     }
     <p></p>
     <table class="table">
        <tr>
        <th>
             @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
        </tr>
        @foreach (var item in Model)
         {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                     {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                     }
                    @if (User.IsInRole("Administrator"))
                     {
                        <span> | </span> @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                     }
                </td>
            </tr>
         }
     </table>
     @Html.ActionLink("Back to Info List", "InfoList", "Home", null, new { @class = "btn btn-outline-primary" })
</div>