﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="@Url.Content("~/Style/DH_style.css")" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page-header"><img src="DH_logo.jpg" alt="DH logo"><p>(a search bar) </p></div>
    <div class="welcome">
        <h1>Welcome to Discussion Hub!</h1>
        <p>
            Discussion Hub is a place for people to discuss and debate on topics of interest. Our Goal here is to provide an environment where
            you feel the security to have a complex discussion without the distrubance of hateful or degenerating comments thrown into the discussion. 
            You can place your own discussion comments to featured articles on our site. If you don't see something that sparks your desire for discussion, 
            you have the option to create a new discussion page on a topic of your liking.
        </p>
        <br/>
        <p>
            Happy Discussing! 
        </p>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Yellow Umberlla Corp</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
