﻿/* css for setting the site background */
body {
    /* Josh prioritize Launia's changes in this */
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Encode Sans', sans-serif;
    background-color: #bdebfb;
    background-image: url(https://i.imgur.com/FipwzQa.png);
    background-repeat: repeat;
    background-size: 1090px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
    /*background-color: #c9edf7;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* for main navigation bar that is shared on all pages */
.navbar {
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ff0000;
    align-content: center;
    border-bottom: 4px #5cbfda solid;
}

.spacer {
    padding-top: 50px;
}

.header-spacer {
    padding-top: 26%;
}

.image-header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
}

.gumbotron {
    margin-top: 2%;
    padding: 15px;
    margin-bottom: 2rem;
    background-color: #F4FBFD;
    border-radius: 5px;
}

.sidebar {
    margin-top: 2%;
    padding: 15px;
    margin-bottom: 2rem;
    /*background-color: #e9ecef;*/
    border-left: 10px solid white;
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b9b9b+0,9b9b9b+36,e8e8e8+37,e8e8e8+100 */
    background: #9b9b9b; /* Old browsers */
    background: linear-gradient(to bottom, #5ec6e2 0%,#abe0f3 25%,#e8e8e8 25%,#e8e8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9b9b', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}

/* below css elements are used throughout the site */
.gumbotron p {
    text-indent: 20px;
}

.gumbotron li {
    list-style: none;
}

.sidebar p {
    text-indent: 20px;
}

.gutter {
    margin: 10px;
}

.header {
    font-size: 25px;
    font-style: italic;
}

.sidebar-head {
    padding-bottom: 10px;
}

h2 {
    font-style: italic;
}

/* css code for Home/InfoList */
.major35 {
    background-color: #F4FBFD;
    border: 5px solid #bdebfb;
    border-radius: 7px;
    padding: 15px 15px 15px 15px;
    margin: 10px 40px 40px 40px;
    box-shadow: 10px 10px 20px grey;
}

.major35 a#link {
    font-size: 28px;
}

.major36 {
    background-color: #F4FBFD;
    border: 5px solid #bdebfb;
    border-radius: 7px;
    padding: 15px 15px 15px 15px;
    margin: 10px 40px 40px 40px;
    box-shadow: 10px 10px 20px grey;
}
/* end css code for Home/InfoList */

/* css used for Home/Index, Home/About*/
.about {
    position:relative;
    background-color: #F4FBFD;
    border: 5px solid #5cbfda;
    border-radius: 7px;
    padding: 15px 15px 15px 15px;
    margin-bottom: 40px;
    height: 370px;
    box-shadow: 10px 10px 20px grey;
}

.about img#logo {
    margin-bottom: 10px;
}

.about#JMsize {
    height: 505px;
}

.about#LDsize {
    height: 480px;
}

.about#AGsize {
    height: 450px;
}

/* profile image on about page */
#profile {
    position: absolute;
    left: 4.5%;
    top: 10%;
}

/* this is to crop two of the images */
#profileC {
    position: absolute;
    left: 0px;
    top: 23%;
    clip: rect(0px, 300px, 230px, 20px);
}

#profileB {
    position: absolute;
    left: 0px;
    top: 23%;
    clip: rect(0px, 300px, 230px, 20px);
}

/* name with group logo */
.nameLine {
    position: absolute;
    width: 70%;
    top: 3%;
    right: 10px;
}

/* answer to personal questions */
.infoText {
    position: absolute;
    width: 70%;
    top: 15%;
    right:10px;
}

.infoTitle {
    background-color: #F4FBFD;
    margin-top: 2%;
    padding: 15px;
    margin-bottom: 2rem;
    border: 5px solid #5cbfda;
    border-radius: 5px;
    box-shadow: 10px 10px 20px grey;
}

.infoTitle h2 {
    text-align: center;
}

/* css for Upload/Index */
.relative {
    position: relative;
    background-color: #F4FBFD;
    margin-top: 2%;
    padding: 15px;
    margin-bottom: 2rem;
    height: 250px;
    border: 5px solid #5cbfda;
    border-radius: 5px;
    box-shadow: 10px 10px 20px grey;
}

.absoluteA {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50%;
}

.absoluteB {
    position: absolute;
    top: 80px;
    left: 15px;
    width: 50%;
}

.absoluteC {
    position: absolute;
    top: 17px;
    right: 15%;
    width: 200px;
    height: 200px;
}

.uploadInput {
    background-color: #F4FBFD;
    border: 5px solid #5cbfda;
    border-radius: 7px;
    width: 50%;
    padding: 15px 15px 15px 15px;
    margin-top: 40px;
    box-shadow: 10px 10px 20px grey;
}
/* end of Upload/Index */

/*css code for UniversityEvents/Index */
.table uniEventTable th td tr {
    border-collapse: collapse;
    width: 90%;
}

.table th td {
    text-align: left;
    padding: 8px;
}
.table tr:nth-child(even) {
    background-color: #bdebfb;
}

.table th {
    background-color: #5cbfda;
    color: white;
}

.uniEventTitle {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 15px;
    margin-bottom: 2rem;
    background-color: #F4FBFD;
    border: 5px solid #5cbfda;
    border-radius: 5px;
}

/*for images on UniversityEvents/Index*/
.column {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 5px;
    box-shadow: 5px 5px 20px #b6b3b3;
    /*for fade in box effect*/
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.column:hover .image {
    opacity: 0.3;
}

.column:hover .middle {
    opacity: 1;
}

.text {
    text-align: center;
    background-color: #ff0000;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
/* end css code for UniversityEvents/Index */

/*Autumn's table css code below - for Mjors/Index, Cours/Index, etc. */
.table tr {
    background: #D8E9E8;
    border-radius: 50px;
}

.table th:first-child {
    border-top-left-radius: 10px;
}

.table th:last-child {
    border-top-right-radius: 10px;
}

.table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
/*end of Autumn's css code*/