﻿@model StudentScheduler.Models.MajorRequirement

@{
    ViewBag.Title = "Associate New Requirement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="gumbotron">
    <h2>@ViewBag.Title</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Major.Title, "Major", htmlAttributes: new { @class = "control-label col-md-2", @readonly = "true" })
                <div class="col-md-10">
                    @Html.DropDownList("MajorID", null, htmlAttributes: new { @class = "form-control", })
                    @Html.ValidationMessageFor(model => model.MajorID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReqID, "ReqID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ReqID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReqID, "", new { @class = "text-danger" })
                    <br />
                    <p>If you want to instead create a new requirement, click the button below marked 'Create New Requirement'</p>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
                    {
                        @Html.ActionLink("Create a New Requirement", "Create", "Requirements", new { id = ViewBag.SelectedMajorID }, new { @class = "btn btn-outline-primary btn-sm" })
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Associate" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
