﻿@model StudentScheduler.Models.Requirement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="gumbotron">
    <h2>Details</h2>

    <div>
        <h4>Requirement</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RequirementTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RequirementTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RequirementDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RequirementDescription)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>