﻿@using StudentScheduler.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Student Scheduler</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

    @Styles.Render("~/Content/fullcalendar")
    @Scripts.Render("~/bundles/fullcalendar")
    <script type='text/javascript' src='~/Scripts/gcal.js'></script>

    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon" />

</head>
<body>
    <div class="navbar fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/Home/Index"><img width="500" src="~/Content/StudentSchedulerFinalLogos.png" /></a>
            </div>

            <div class=".d-flex flex-row-reverse header">
                @Html.Partial("_LoginPartial") @*Added _LoginPartial to dynamically change Sign In to Profile and Log Off*@
                <ul class="nav navbar-nav">
                    @*<li><a href="/Account/Login"><span><img width="20" src="~/Content/checkblack.png" /></span> Sign in</a></li>*@
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Administration", "Index", "Admin")</li>
                    }
                    @if (User.IsInRole("Student") || User.IsInRole("Staff"))
                    {
                        <li><font color="#5ec6e2">@(User.Identity.GetSchoolName())</font></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Yellow Umbrella Corp - @Html.ActionLink("Contact Us", "Contact", "Home") - @Html.ActionLink("About Us", "About", "Home")</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
