﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gumbotron">
    <h2>@ViewBag.Title</h2>


    <h1 class="text-danger">Oops...</h1>
    <br />
    <br />
    <table>
        <tr>
            <td style="padding:20px">
                <img src="~/Content/sadpuppy.png" alt="Sad Puppy" width="248" height="240" />
            </td>
            <td style="padding:20px">
                <h2 class="text-danger">I'm sorry, but an error occurred<br />while processing your request.</h2>
            </td>
        </tr>
    </table>
    <div class="list-sfs-holder">
        <div class="alert alert-error">
            An unexpected error has occurred. Please contact the system administrator.
        </div>
        @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
        {
            <div>
                <table>
                    <tr>
                        <th style="text-align:right">
                            <b>Exception:</b>
                        </th>
                        <td>
                            @Html.TextBoxFor(model => model.Exception.Message, new { @readonly = "readonly", style = "width: 100%; max-width: 100%;" })
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align:right">
                            <b>Controller:</b>
                        </th>
                        <td>
                            @Html.TextBoxFor(model => model.ControllerName, new { @readonly = "readonly", style = "width: 100%; max-width: 100%;" })
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align:right">
                            <b>Action:</b>
                        </th>
                        <td>
                            @Html.TextBoxFor(model => model.ActionName, new { @readonly = "readonly", style = "width: 100%; max-width: 100%;" })
                        </td>
                    </tr>
                    <tr>
                        <th style="vertical-align:top; text-align:right">
                            <b>Error Info:</b>
                        </th>
                        <td>
                            @Html.TextAreaFor(model => model.Exception.StackTrace, 6, 120, htmlAttributes: new { style = "width: 100%; max-width: 100%;" })
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>