﻿@model StudentScheduler.Models.UniversityEvent
@{
    ViewBag.Title = "Delete University Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="gumbotron">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.School.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.School.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventDays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventDays)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventStartTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventStartTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventEndTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventEndTime)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-outline-primary" />
                @Html.ActionLink("Back to Events", "Index", null, new { @class = "btn btn-outline-primary" })
            </div>
        }
    </div>
</div>