﻿@model StudentScheduler.Models.UniversityEvent
@{
    ViewBag.Title = "University Event Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="gumbotron">
    <h2>Event Details</h2>
    <div>
        <h4>Below is some information on an event happening at your university.</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("School")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.School.Title)
            </dd>

            <dt>
                @Html.DisplayName("Event")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventTitle)
            </dd>

            <dt>
                @Html.DisplayName("Description")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventDescription)
            </dd>

            <dt>
                @Html.DisplayName("Date")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventDays)
            </dd>

            <dt>
                @Html.DisplayName("Start Time")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventStartTime)
            </dd>

            <dt>
                @Html.DisplayName("End Time")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventEndTime)
            </dd>

        </dl>
    </div>
    @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-outline-primary" })
    }
    @Html.ActionLink("Back to Events", "Index", null, new { @class = "btn btn-outline-primary" })
</div>