@model IEnumerable<StudentScheduler.Models.UniversityEvent>
@{
    ViewBag.Title = "University Events Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="uniEventTitle text-md-center" style="margin-bottom:0">
    <h2>University Events</h2>
    <p>
        Be in the loop about what is going on at or around your university! Have a general interest in certain topics or occasions? Or, are you looking for something new to experience and connect with people? Take a look below because here's the place to find out what's going on!
    </p>
</div>
<br />
<div class="row">
    <div class="column">
        <img class="rounded image" src="https://i.imgur.com/PoKqrty.jpg" alt="Pow-wow" style="width:100%">
        <div class="middle">
            <div class="text">Experience Culture!</div>
        </div>
    </div>
    <div class="column">
        <img class="rounded image" id="image" src="https://i.imgur.com/3Rv1U7l.gif" alt="Fan Fest" style="width:100%; height:100%;">
        <div class="middle">
            <div class="text">Connect with the Community!</div>
        </div>
    </div>
    <div class="column">
        <img class="rounded image" id="image" src="https://i.imgur.com/xOzoZ16.jpg" alt="Mountains" style="width:100%">
        <div class="middle">
            <div class="text">Share Interests!</div>
        </div>
    </div>
</div>
<br />
<div class="gumbotron">
    <p>
        @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
        {
            @Html.ActionLink("Create New Event", "Create", null, new { @class = "btn btn-outline-primary" })
        }
    </p>

    <table class="table" id="uniEventTable">
        <tr>
            <th>
                @Html.DisplayName("School")
            </th>
            <th>
                @Html.DisplayName("Event")
            </th>
            <!--<th>
                @*@Html.DisplayName("Event Description")*@
            </th>-->
            <th>
                @Html.DisplayName("Date")
            </th>
            <th>
                @Html.DisplayName("Start Time")
            </th>
            <th>
                @Html.DisplayName("End Time")
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.School.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventTitle)
                </td>
                <!--<td>
                    @*@Html.DisplayFor(modelItem => item.EventDescription)*@
                </td>-->
                <td>
                    @Html.DisplayFor(modelItem => item.EventDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventEndTime)
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <span> | </span>
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
                    {
                        <span> | </span> @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    }
                </td>
            </tr>
        }
    </table>

    @Html.ActionLink("Back to Info List", "InfoList", "Home", null, new { @class = "btn btn-outline-primary" })
</div>