@model StudentScheduler.Models.Major

@{
    ViewBag.Title = "Major Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gumbotron">
    <h2>Major Details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.School.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.School.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd><a href="@Html.DisplayFor(model => model.Href)">
                @Html.DisplayFor(model => model.Title)
            </a>
            </dd>

        </dl>
    </div>
    
    @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-outline-primary" })
    }
    @Html.ActionLink("Back to Majors", "Index", null, new { @class = "btn btn-outline-primary" })
    

</div>