﻿
@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gumbotron">
    <h2>@ViewBag.Title</h2>


    <h1 class="text-danger">Sorry...</h1>
    <br />
    <br />
    <table>
        <tr>
            <td style="padding:20px">
                <h2 class="text-danger">I sniffed everywhere, but I couldn't <br />find what you were looking for.</h2>
            </td>
            <td style="padding:20px">
                <img src="~/Content/dog.png" alt="Dog" width="248" height="240" />
            </td>
        </tr>
    </table>
    
    
</div>

