﻿@model StudentScheduler.Models.Cours

@{
    ViewBag.Title = "Create Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
</head>
<div class="gumbotron">
    <h2>Create Course</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.MajorID, "Major", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.DropDownList("MajorID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MajorID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CourseTitle, "Course Title", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CourseTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CourseTitle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CourseSubtext, "Course Subtext", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CourseSubtext, new { htmlAttributes = new { @class = "form-control", placeholder = "Ex: CS161" } })
                        @Html.ValidationMessageFor(model => model.CourseSubtext, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CourseNumber, "Course ID Number", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CourseNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CourseNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CourseDays, "Day(s)", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CourseDays, new { htmlAttributes = new { @class = "form-control", placeholder = "Ex: M, W, F or M", required = "required", pattern = "^(((M, )|(T, )|(W, )|(R, )|(F, ))*(M|T|W|R|F))$" } })
                        @Html.ValidationMessageFor(model => model.CourseDays, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CourseStartTime, "Start Time", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CourseStartTime, new { htmlAttributes = new { @class = "form-control", placeholder = "00:00 Military Time", pattern = "^([0-1][0-9]:[0-5][0-9])|([0-2][0-4]:[0-5][0-9])|([0-9]:[0-5][0-9])$" } })
                        @Html.ValidationMessageFor(model => model.CourseStartTime, "", new { @class = "text-danger" })
                        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3" />
                            <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CourseInstructor, "Course Instructor", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CourseInstructor, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.CourseInstructor, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CourseEndTime, "End Time", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CourseEndTime, new { htmlAttributes = new { @class = "form-control", placeholder = "00:00 Military Time", pattern = "^([0-1][0-9]:[0-5][0-9])|([0-2][0-4]:[0-5][0-9])|([0-9]:[0-5][0-9])$" } })
                        @Html.ValidationMessageFor(model => model.CourseEndTime, "", new { @class = "text-danger" })
                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" />
                            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CreditCount, "Credits", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CreditCount, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.CreditCount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CourseAttributes, "Course Attributes", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CourseAttributes, new { htmlAttributes = new { @class = "form-control", placeholder = "None", required = "required" } })
                        @Html.ValidationMessageFor(model => model.CourseAttributes, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CourseRoom, "Course Room", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CourseRoom, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.CourseRoom, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-outline-primary" />
                        @Html.ActionLink("Back to Courses", "Index", null, new { @class = "btn btn-outline-primary" })
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="container">
        <div class="row">

            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker3').datetimepicker({
                        format: 'HH:mm'
                    });
                });
            </script>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker2').datetimepicker({
                        format: 'HH:mm'
                    });
                });
            </script>
        </div>
    </div>
</div>
