﻿@model StudentScheduler.Models.Cours

@{
    ViewBag.Title = "Course Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gumbotron" ">
    <h2>Course Details</h2>

    <div>
        <h4>Below is some information on a class offered at your university</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Major.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Major.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseSubtext)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseSubtext)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseDays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseDays)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseStartTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseStartTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseEndTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseEndTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreditCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditCount)
            </dd>

        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-outline-primary" })

        @if (User.IsInRole("Student"))
        {
            if (ViewBag.UserActivities.Contains(ViewBag.ID))
            {
                @Html.ActionLink("Remove", "Remove", new { id = Model.ID }, new { @class = "btn btn-outline-primary" })
            }
            else
            {
                @Html.ActionLink("Add", "Add", new { id = Model.ID }, new { @class = "btn btn-outline-primary" })
            }

        }
        @Html.ActionLink("Back to Courses", "Index", null, new { @class = "btn btn-outline-primary" })

    </div>
</div>