﻿@model IEnumerable<StudentScheduler.Models.Cours>

@{
    ViewBag.Title = "Needed Courses Offered";
}

<div class="gumbotron">
    <h2>Needed Courses Offered</h2>
    <p>This is a list of your untaken major courses that are offered next term.</p>

    @Html.ActionLink("Back to Info List", "InfoList", "Home", null, new { @class = "btn btn-outline-primary" })
    <p></p>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseSubtext)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCount)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseSubtext)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCount)
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <span> | </span>
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
                    {
                        <span> | </span> @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    }
                    @if (User.IsInRole("Student"))
                    {
                        <span> | </span>
                        if (ViewBag.UserActivities != null)
                        {
                            if (ViewBag.UserActivities.Contains(item.ID))
                            {
                                @Html.ActionLink("Remove", "Remove", new { id = item.ID })
                            }
                            else
                            {
                                @Html.ActionLink("Add", "Add", new { id = item.ID })
                            }
                        }
                        else
                        {
                            @Html.ActionLink("Add", "Add", new { id = item.ID })
                        }

                    }
                </td>
            </tr>
        }
    </table>



</div>

