﻿@model StudentScheduler.Models.UserSchedule

@{
    ViewBag.Title = "Delete Schedule Item";
}

<div class="gumbotron">
    <h2>Delete Schedule Item</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ActivityTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActivityTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ActivityDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActivityDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ActivityDays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActivityDays)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ActivityStartTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActivityStartTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ActivityEndTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActivityEndTime)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-outline-primary" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-primary" })
            </div>
        }
    </div>
</div>