﻿@model IEnumerable<StudentScheduler.Models.UserSchedule>

@{
    ViewBag.Title = "Schedule Item Index";
}
<div class="gumbotron">
    <h2>Schedule Items</h2>
    <p>
        Want to keep track of upcoming obligations in a tidy list format? Good news! Enter any of your
        weekly occurences here, and we'll help you keep track. To see them displayed on a calendar, you can
        click the link below.
    </p>

    @if (User.IsInRole("Student") || User.IsInRole("Administrator") || User.IsInRole("Staff"))
    {
        @Html.ActionLink("Add New Activity", "Create", null, new { @class = "btn btn-outline-primary btn-sm" })
        <b></b>
        @Html.ActionLink("Go to Calendar", "Index", "Schedule", null, new { @class = "btn btn-outline-primary btn-sm" })
    }
    <p></p>
    @if (ViewBag.Plans == true)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityDays)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityStartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityEndTime)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityDays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityStartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityEndTime)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        </table>
    }
    @if (ViewBag.Plans == false)
    {
        <p>It looks like you currently don't have any schedule items added. Click the link above to start inputting your plans!</p>
    }
    @Html.ActionLink("Back to Info List", "InfoList", "Home", null, new { @class = "btn btn-outline-primary" })
</div>