/*
 *   AUDIT TRAIL: 5.2
 *     1. Initial release.                        JWF 1/9/2002
 *       AUDIT TRAIL: 5.3
 *         2. UI related changes for phase II          RK 7/27/2002
 *           3. Fix for defect3 53-0017              RK 8/23/2002
 *                Added campuspipeline class to be used in body for CP
 *                  AUDIT TRAIL:6.0                             Rk 9/22/02
 *                    1. sync changes made in 5.3
 *                      AUDIT TRAIL:7.0                             Rk 6/22/02
 *                        1. Fonts modified to use Verdana
 *
 *                          AUDIT TRAIL END
 *
 *                            FILE NAME..: web_defaultmenu.css
 *                              RELEASE....: 7.0
 *                                PRODUCT....: WTLWEB
 *                                  COPYRIGHT..: Copyright (C) SCT Corporation 2002. All rights reserved.
 *
 *                                  */

/* BROWSER CONSIDERATIONS - Overall
 *    ========================================================
 *       Rule:   Set margin-left and margin-right only on BODY, not on DIVS.
 *          Reason: Older browsers do not recognize margins on DIVs.
 *
 *             Rule:   No underscores.
 *                Reason: Underscores are not valid in CSS syntax.
 *
 *                   Rule:   Use percentages to define font sizes. Normal text should be 90%.
 *                      Reason: Presents text in the user's preferred font size. i
 *                             Facilitates page fluidity.
 *
 *                                Rule:   Use precentages to define margins.
 *                                   Reason: Facilitates page fluidity.
 *
 *                                      Rule:   Apply font rules to TD and TH elements. Do not rely on inheritance
 *                                             from the BODY.
 *                                                Reason: Some browsers do not support inheritance well.
 *                                                */

/* TEXT CLASSES                                             */
/* All text classes should have rules defined for at least  */
/* the following properties (unless the class has a special */
/* purpose):                                                */
/* color, font-family, font-weight, font-size, font-style   */
/* text-align                                               */
/* ======================================================== */
.centeraligntext {
text-align: center;
}

.leftaligntext {
text-align: left;
}

.rightaligntext {
text-align: right;
}

.menulisttext {
list-style: none;
}

.requirementnotmet{
  color: #F00;
  font-weight: bold;

}
.ddred{
  color: #F00;
  font-weight: normal;
  font-size: 90%;
}
.captiontext {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: italic;
text-align: left;
margin-top: 1em;
}

.skiplinks {
display: none;
}

.pageheaderlinks {
color: #FFFFFF;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 80%;
font-style: normal;
text-align: right;
}

/* Class for Sub-menu Items                                  */
/* ========================================================  */
.pageheaderlinks2 {
color: #CED5EA;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-size: 90%;
text-align: justify;
}

.pagebodylinks {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 80%;
font-style: normal;
text-align: center;
}

.gotoanchorlinks {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 80%;
font-style: normal;
text-align: left;
}

.pagefooterlinks {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 80%;
font-style: normal;
text-align: center;
/* BROWSER CONSIDERATION - To make Netscape and IE compatible for PageFooter Division. */
/* Margin-left style specified for Netscape within parent SPAN tag,                    */
/* while IE uses the padding-left style within parent DIV tag.                         */
margin-left: 3px;
}

.backlinktext {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 80%;
font-style: normal;
text-align: right;
margin-bottom: 5px;
}

.menuheadertext {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

.menulinktext {
color: #0F2167;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-style: normal;
}

.menulinkdesctext {
color: balck ;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 70%;
font-style: normal;
text-align: left;

}

.normaltext {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

.infotext {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

.errortext {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
}

.warningtext {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
}

.multipagemsgtext {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 80%;
font-style: normal;
text-align: left;
}

.releasetext {
color: #FFFFFF;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 80%;
font-style: normal;
text-align: left;
text-transform: uppercase;
}

.requiredmsgtext {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 70%;
font-style: normal;
text-align: left;
}

.fieldlabeltext {
color: black;
font-style: normal;
text-align: left;
}

.fieldlabeltextinvisible {
display: none;
}

.fieldrequiredtext {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

.fieldformattext {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 70%;
font-style: normal;
text-align: left;
}

.fielderrortext {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 70%;
font-style: normal;
text-align: left;
}

/* ANCHORS (LINKS)                                          */
/* ======================================================== */
A:link, A:visited{
font-weight: normal;
font-size: 100%;
color: #42392b;
text-decoration: underline;
}

/*
 * A:visited{
 * color:#900;
 * text-decoration:none;
 * }
 * */

A:active{
color:#333;
}

A:hover{
  /*color:#333;*/
  color:#C00;
  text-decoration:underline;
}


/* ANCHOR Definitions for Home Page MenuItems class.        */
/* ======================================================== */
A.menulinktext {
font-family:  Verdana,Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 100%;
font-style: normal;
color:#C00;
text-decoration: none;
}


A.submenulinktext {
font-family:  Verdana,Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 100%;
font-style: normal;
text-transform: none;
color:#C00;
text-decoration: none;
}

A.submenulinktext:hover {
background-color: #1E2B83;
font-family:  verdana,Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 100%;
font-style: normal;
text-align: justify;
text-transform: none;
color: #FFFFFF;
text-decoration: none;
}

A.submenulinktext:visited {
font-family:  Verdana,Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 100%;
font-style: normal;
text-transform: none;
color:#900;
text-decoration: none;
}

A.submenulinktext:visited:hover {
background-color: #1E2B83;
font-family:  Verdana,Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 100%;
font-style: normal;
text-align: justify;
text-transform: none;
color: #FFFFFF;
text-decoration: none;
}


A.submenulinktext2, A.submenulinktext2:visited {
font-weight: bold;
font-size: 100%;
color: #42392b;
text-decoration: underline;
}


A.submenulinktext2:hover, A.submenulinktext2:visited:hover {
font-weight: bold;
font-size: 100%;
color: #C00;
text-decoration:underline;
}

/*
 * A.submenulinktext2:visited {
 * font-family:  Verdana,Arial Narrow, helvetica, sans-serif;
 * font-weight: normal;
 * font-size: 100%;
 * font-style: normal;
 * color:#900;
 * text-decoration: none;
 * }
 *
 *
 * A.submenulinktext2:visited:hover {
 * font-family:  Verdana,Arial Narrow, helvetica, sans-serif;
 * font-weight: normal;
 * font-size: 100%;
 * text-decoration:underline;
 * color:#333;
 * }
 * */


/* BODY                                                     */
/* ======================================================== */
BODY {
background-image: url("/wou/wouprd/wougifs/backgroundRed.png");
background-repeat:repeat-x;

background-color: #660000;
color: #000000;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-style: normal;
text-align: left;

}
BODY.campuspipeline {
background-color: #FFFFFF;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-style: normal;
text-align: left;
/* BROWSER CONSIDERATION - Override browser settings for BODY margin */
margin-top: 6px;
margin-left: 1%;

/*margin-right: -6px;*/
background-image: none;
background-repeat: no-repeat;
}
BODY.previewbody {
background-color: #FFFFFF;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
margin-left: 2%;
margin-right: 2%;
/* Override the background image in the main BODY */
background-image: none;
}

BODY.validationbody {
background-color: #FFFFFF;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
margin-left: 1%;
margin-right: 2%;
/* Override the background image in the main BODY */
background-image: none;
}

/* DIVIDES                                                  */
/* All divides should have rules defined for margin and     */
/* text-align.                                              */
/* ======================================================== */
DIV.menulistdiv {
text-align: left;
}

DIV.headerwrapperdiv {
margin-left: 0px;
margin-top: 0px;
/*background-color: #FFFFFF;*/
padding: 0px;
}

DIV.pageheaderdiv1 {
text-align: left;
margin-top: 0;
margin-left: 0px;
border-bottom: 0px solid;
border-left: 0px solid;
border-right: 0px solid;
border-top: 0px solid;
}

DIV.pageheaderdiv2 {
text-align: right;
margin-top: 5px;
margin-right: 10px;
position: absolute;
top: 0px;
right: 0px;
float: right;
display: none;
}

DIV.headerlinksdiv {
text-align: left;
margin-right: 0%;
margin-top: 0px;
}

/* Class for BANNER SEARCH Form text and button controls     */
/* ========================================================  */
DIV.headerlinksdiv2 {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
text-transform: none;
}

DIV.bodylinksdiv {
text-align: center;
margin-top: 1%;
}

DIV.footerlinksdiv {
        text-align: center;
}

DIV.backlinkdiv {
text-align: right;
margin-top: -40px;
}

DIV.pagetitlediv {
text-align: left;
background-color: #FFFFFF;
padding: 0px;
width: 100%;
}

DIV.infotextdiv {
text-align: left;
}

DIV.pagebodydiv, .footerlinksdiv {
text-align: left;
background-color:#FFFFFF;
padding: 0px;
width: 100%;
}

DIV.pagefooterdiv {
text-align: left;
border: 0px;
margin-top: 0px;
float: left;
}

DIV.poweredbydiv {
text-align: right;
margin-right: -1px;
margin-top: 0px;
border-bottom: 0px solid;
border-left: 0px solid;
border-right: 0px solid;
border-top: 0px solid;
float: right;
}

DIV.previewdiv {
text-align: center;
}

DIV.validationdiv {
text-align: center;
}

/* HEADERS                                                  */
/* Do not set font-size for headers - defer to browser.      */
/* ======================================================== */
/* H1 is reserved for Page Header */
H1 {
color: #FFFFFF;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-style: normal;
margin-top: 0px;
font-size:0%;
}

/* H2 is reserved for Page Title */
H2 {
color: #000000;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-style: normal;
}

/* Horizontal Rule for Menu Section                         */
/* ======================================================== */
HR {
color: #C00;
text-align: left;
vertical-align: top;
margin-top: -10px;
HEIGHT="4"
}
HR.pageseprator {
color: #333;
text-align: left;
vertical-align: top;
}


/* FORM CONTROLS                                            */
/* ======================================================== */
INPUT {

color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 80%;
font-style: normal;
}

TEXTAREA {
background-color: #FFFFFF;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;

}

SELECT {
background-color: #FFFFFF;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
}

/* TABLES                                                   */
/* ======================================================== */
TABLE.dataentrytable {
border-bottom: 0px solid;
border-left: 0px solid;
border-right: 0px solid;
border-top: 0px solid;
}

TABLE.datadisplaytable {
border-bottom: 0px solid;
border-left: 0px solid;
border-right: 0px solid;
border-top: 0px solid;
}


/*** Was working here **/
table.plaintable {
background-color: #FFFFFF;
}

.pageheaderlinks2 p{
margin: 0;
}

TABLE.pageheadertable {
margin-top: 0px;
}

TABLE.colorsampletable {
background-color: #FFFFFF;
}

/* TABLE HEADERS AND DATA CELLS                             */
/* ======================================================== */
TABLE TH {
vertical-align: top;
color: black;
}

TABLE TD {
vertical-align: top;
color: black;
}

.pageheadertablecell {
text-align: left;
}

.pageheadernavlinkstablecell {
text-align: right;
}

/* DATA ENTRY TABLE HEADERS AND DATA CELLS                  */
/* Some font rules are redunant because they do not         */
/* inherit well from the BODY on older browsers.            */
/* ======================================================== */
TABLE TD.deheader {
background-color: #E3E5EE;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TH.deheader {
background-color: #E3E5EE;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.detitle {
background-color: #E3E5EE;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
/* Make titles big and chunky. */
padding-bottom: 1em;
}

TABLE TH.detitle {
background-color: #E3E5EE;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
/* Make titles big and chunky. */
padding-bottom: 1em;
}

TABLE TD.delabel {
background-color: #E3E5EE;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TH.delabel {
background-color: #E3E5EE;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.deseparator {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.dehighlight {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.dedead {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.dedefault {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.dewhite {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

/* DATA DISPLAY TABLE HEADERS AND DATA CELLS                */
/* Some font rules are redunant because they do not         */
/* inherit well from the BODY on older browsers.            */
/* ======================================================== */
TABLE TD.ddheader {
background-color: #E3E5EE;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TH.ddheader {
background-color: #E3E5EE;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.ddtitle {
background-color: #E3E5EE;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
/* Make titles big and chunky. */
padding-bottom: 1em;
}

TABLE TH.ddtitle {
background-color: #E3E5EE;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
/* Make titles big and chunky. */
padding-bottom: 1em;
}

TABLE TD.ddlabel {
background-color: #E3E5EE;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TH.ddlabel {
background-color: #E3E5EE;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.ddseparator {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.ddhighlight {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.dddead {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.dddefault {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
border-bottom: 1pt #BFBFBF solid;
}

TABLE TD.ddnontabular {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.ddwhite {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

/* PLAIN TABLE HEADERS AND DATA CELLS                       */
/* These table data cell classes pertain to a table that is */
/* used strictly for layout. They do not have the redundant */
/* font rules because it is assumed that whatever is placed */
/* in these TD/TH tags will have its own class.             */
/* ======================================================== */
TABLE TD.pltitle {
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-weight: bold;
}

TABLE TD.plheader {
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-weight: bold;
}

TABLE TH.pllabel {
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-weight: bold;
}

TABLE TD.plseparator {
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-weight: normal;
}

TABLE TD.plhighlight {
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-weight: normal;
}

TABLE TD.pldead {
font-weight: normal;
}

TABLE TD.pldefault {
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-weight: normal;
}
.headerwrapperdiv .pageheaderlinks2 TD.pldefault {
background-image:url("/wou/wouprd/wougifs/nav-on.png");
background-color: #000000;
}

TABLE TD.plwhite {
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-weight: normal;
}

TABLE TD.plheadermenulinks {
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 100%;
font-weight: normal;
/*background-color:#CED5EA;*/
}


/* MENU PLAIN TABLE HEADERS AND DATA CELLS                  */
/* ======================================================== */
TABLE TD.mptitle {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.mpheader {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TH.mplabel {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.mpwhite {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.mpdefault {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.indefault {
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}
.texttabon {/wouprd/owa/bwgkogad.P_SelectAtypView;
    COLOR: #ffffff;
}
.texttaboff {
    COLOR: #000000;
}



.bg3 {
    BACKGROUND-COLOR: #C00;
}

/********************** Danielle Added *************************/
.tabon, .taboff{
        background-image:url("/wou/wouprd/wougifs/nav-on.png");
        background-repeat:repeat-x;
        font-family: arial, sans-serif;
        color:#FFFFFF;
        font-size:12px;
        text-decoration:none;
        text-align:center;
        margin:0px;
        background-color:#000000;
}

.tabon, .taboff{
        margin:0px;
        border-left: 1px solid #000000;
        text-decoration:none;
        color:#FFFFFF;
        text-transform:uppercase;
}

.taboff a, .tabon a, .tabon a:visited, .taboff a:visited{
        text-decoration:none;
        text-align:center;
        display: inline-block;
        color:#FFFFFF;
        margin:0px;
        height:28px;
        line-height:28px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
}

.tabon a:hover, .taboff a:hover{
        background-image:url("/wou/wouprd/wougifs/nav-on.png");
        text-align:center;
        text-decoration:none;
        color:#FFFFFF;
        height:100%;
        height:28px;
        display: block;
        vertical-align:middle;
        line-height:28px;
        margin: auto;
}
.pageheaderdiv1 H1{
        color: #940800;
}
.pagebodydiv hr{
        display: none;
}

