﻿@model StudentScheduler.Models.RegisterViewModel
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Register";
}



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal gumbotron", role = "form" }))
{
    <h2>@ViewBag.Title.</h2>
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.SchoolId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("SchoolId", null, "Select School...", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserLogo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("UserLogo", new List<SelectListItem>
{
   new SelectListItem{ Text="Green Monster", Value = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5AeoWZKee3824PbXpUax1ykFuYMntWsmgjLII-VZ8JLk38MWL4Q" },
   new SelectListItem{ Text="Avocado", Value = "https://media.istockphoto.com/vectors/funny-happy-cute-happy-smiling-avocado-vector-id939768622?k=6&m=939768622&s=612x612&w=0&h=BevVyOpXKWlyoceMuvXAqZnjZZfl_7i0EpOPQSTo8Ig=" },
   new SelectListItem{ Text="Fox", Value = "https://i.pinimg.com/originals/29/21/a2/2921a2c69e186f704f87435027ba4987.jpg" },
   new SelectListItem{ Text="Dog", Value = "https://i.pinimg.com/originals/55/31/a4/5531a4d7815f295b475a1cb46ea46960.png" },
   new SelectListItem{ Text="Watermelon", Value = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT96T2n_43ofcl4I0at2Z7W_qwMMXpTqyBFLcgZIg5-dW6Cu2eG8g" },
   new SelectListItem{ Text="Sundae", Value = "http://www.amisvegetarian.com/wp-content/uploads/2018/09/ice-cream-images-clip-art-ice-cream-clip-art-ice-cream-images-animations.png" },
   new SelectListItem{ Text="Ducky", Value = "https://www.culinaryschools.org/clipart/rubber-duck.png" },
   new SelectListItem{ Text="Flower", Value = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR71iJ9EV6796UzbdZyJ9XrI1OSja4gcMf86CavaBJGc4PZGXtXxg" },
})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    
    <div class="form-group">
        <div class="col-md-10">
            Captcha
            @Html.MathCaptcha()
        </div>
    </div>

    <!------------ Cap Locks Warning - Use capsLockWarning.js with this page ----------->
    <p id="pwdCapsWarning" style="color:red; display:none;">WARNING! Caps lock is ON.</p>
    <!---------------------------------------------------------------------------------->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-outline-primary btn-sm" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/capsLockWarning.js"></script>
}