﻿@{
    ViewBag.Title = "Yellow Umbrella Corp.";
}
@*<img class="image-header" src="~/Content/YUCpattern3.png" />*@
<div class="infoTitle" style="margin-bottom:0">
    <h2>Hello, we are Yellow Umbrella Corp!</h2>
    <p>
        We are a group of students enrolled in the Computer Science program at Western Oregon University and soon to be alumni of the university!
        Through our colaborative efforts and Agile planning, we were able to bring to you the Student Scheduler! 
        Continue reading and get to know each of us a little bit more.
    </p>
</div>
<div class="container" style="margin-top:30px">
    <div class="row" id="members">
        <div class="col-md-12 about" id="JMsize">
            <img class="d-block rounded" id="profileB" src="~/Content/JoshProfile.jpeg" width="400" height="230" /><br />
            <h2 class="nameLine"><span><img id="logo" width="20" src="~/contactPage/images/yuc.png" /></span><i> Joshua Martinez</i></h2>
            <p class="infoText">
                <strong>Why did you choose the computer science path?</strong><br />
                Because I’ve always been fascinated with computers. Even though coming from a lower income early childhood, I never
                saw a computer outside of school until I was 10. Ever since then, I have gradually started to learn about technology.
                In high school, I started to fix phones and laptops for my fellow students. I didn’t start college right after high
                school, but once I knew I wanted to seek a higher education, I knew that I wanted to work with computers, with the
                goal being to work in software engineering.<br />
                <br />
                <strong>What do you aspire to do in the next 10 years?</strong><br />
                Over the next 10 years I want to work my up at my current job. And when I feel it’s the right time, take a chance
                and go work for a startup company. I feel that the experience working for a start up would be a great one to have.
                And having money saved up to fall back on in case things go south, would put me at ease financially.<br />
                <br />
                <strong>What are some of your favorite hobbies?</strong><br />
                Playing with my dog, watching wrestling, playing video games. I really enjoy taking in any kind of media. Whether
                it be TV, movies, or even comic books. I try to keep myself up to date on anything related to technology. I hope
                after graduation, I get more time to work on side projects.
            </p>
        </div>
        <div class="col-md-12 about" id="AGsize">
            <img class="d-block rounded" id="profile" src="~/Content/AutumnProfile.png" width="220" height="300" /><br />
            <h2 class="nameLine"><span><img id="logo" width="20" src="~/contactPage/images/yuc.png" /></span><i> Autumn Greenley</i></h2>
            <p class="infoText">
                <strong>Why did you choose the computer science path?</strong><br />
                I’ve always been good with technology, and the ‘puzzle solving’ aspect of computer science really appeals to me.
                I don’t always have the same thought process as other people, so being able to solve a problem in a ton of different
                ways is really encouraging and engaging to me.<br />
                <br />
                <strong>What do you aspire to do in the next 10 years?</strong><br />
                Step 1) Lock down a job after graduation. Step 2) Keep that up for a while. Other than that, I’d like to have the
                time and energy to work on personal projects or contribute to open source software. I also have an active interest
                in helping maintain local communities of various types, I currently help run the Corvallis Game Devs and over the
                next ten years I’d like to help grow that community and make sure that it remains a safe space for people of all kinds.<br />
                <br />
                <strong>What are some of your favorite hobbies?</strong><br />
                I like <a href=”https://autumnotopia.itch.io/”>making games</a> and helping people learn about stuff (I mentored a
                FIRST Robotics team for about five years and look forward to doing that again when I have more free time!).
            </p>
            </p>
        </div>
        <div class="col-md-12 about">
            <img class="d-block rounded" id="profile" src="~/Content/SchaeferProfile.jpg" width="220" height="300" /><br />
            <h2 class="nameLine"><span><img id="logo" width="20" src="~/contactPage/images/yuc.png" /></span><i> Schaefer Jones</i></a></h2>
            <p class="infoText">
                <strong>Why did you choose the computer science path?</strong><br />
                I have always been interested in computers since I was young. My father has been in computer fields for many years now
                so I have always grown up around them. In highschool I took computer programming classes as well as computer support
                and service classes and have enjoyed it since.<br />
                <br />
                <strong>What do you aspire to do in the next 10 years?</strong><br />
                I would like to secure a good career in the computer science fields, primarily in data, artificial intelligence/machine
                learning, or maybe general software engineering. I would also like to keep up with my hobbies and travel to Japan for a
                few months to help learn the language and experience the culture.<br />
                <br />
                <strong>What are some of your favorite hobbies?</strong><br />
                My hobbies include tabletop RPGs, camping, video games, and aquariums.
            </p>
        </div>
        <div class="col-md-12 about" id="LDsize">
            <img class="d-block rounded" id="profileC" src="~/Content/LauniaProfile.jpg" width="340" height="230" /><br />
            <h2 class="nameLine"><span><img id="logo" width="20" src="~/contactPage/images/yuc.png" /></span><i> Launia Davis</i></a></h2>
            <p class="infoText">
                <strong>Why did you choose the computer science path?</strong><br />
                There was always a little fascination with computers and technology growing us as a kid. Through recent years, I have learned
                a lot about how computer science and digital art can be combined and used as a crucial part in communication in today's society.
                That's what drove me to learn more about it.<br />
                <br />
                <strong>What do you aspire to do in the next 10 years?</strong><br />
                I really want to dive further into creating art involving code. Projects ranging from hyperlink narative experiences to visual
                and interactive experiences. I expect this to be more of a future hobby but if I have the opportunity to apply it in my position
                of work that would be awesome! I also hope to be involved with a small startup (or a small company that has been in the works for
                a while) and be a helpful asset in creating their virtual identity with all that I have learned from CS and VCD.<br />
                <br />
                <strong>What are some of your favorite hobbies?</strong><br />
                I enjoy photography, drawing, playing video games (when a gaming console is available), watching animated movies and spending time
                with my cats, Clementine and Bean. Call me a crazy cat lady but they provide endless free entertainment and it's the best!
            </p>
        </div>
        <div class="col-md-5 major35">
            <img class="mx-auto d-block rounded" id="defaultImg" src="~/Content/bitbucketLogo.png" width="240" height="230" /><br />
            <a href="https://bitbucket.org/seniorProYellow/yellowcorp/src/master/" id="link"><span><img width="20" src="~/contactPage/images/yuc.png" /></span><i> Checkout our Team Bitbucket!</i></a>
            <p>What to know what we did to create this wonderful site? Take a look through out Bitbucket repository!</p>
        </div>
        <div class="col-md-5 major35">
            <span><img width="20" src="~/contactPage/images/yuc.png" /></span><i style="font-size: 28px;"> Individual Repositories</i>
            <br />
            <br />
            <span><img width="20" src="~/Content/checkblack.png" /></span><a href="https://bitbucket.org/%7B1de1b6b0-f1dc-4a35-b101-08172c60e1b8%7D/"> Check out Joshua's Bitbucket</a>
            <br />
            <br />
            <span><img width="20" src="~/Content/checkblack.png" /></span><a href="https://bitbucket.org/%7B5f39ccbd-5341-47cf-b46d-2b62b269fa85%7D/"> Check out Autumn's Bitbucket</a>
            <br />
            <br />
            <span><img width="20" src="~/Content/checkblack.png" /></span><a href="https://bitbucket.org/%7Bdca14026-146f-4716-b3eb-c88bbfd3f007%7D/"> Check out Schaefer's Bitbucket</a>
            <br />
            <br />
            <span><img width="20" src="~/Content/checkblack.png" /></span><a href="https://bitbucket.org/%7B3fcbcba2-679a-4f27-befc-5a76293bd9db%7D/"> Check out Launia's Bitbucket</a>
        </div>
        <div class="col-md-12 about" id="">
            <h2>Our Team Project</h2>
            <p>The Student Scheduler is a team project that we, Yellow Umbrella Corp., had made it our goal to create a site that would assist students
            at Western Oregon University with gaining better control of their schedules at school, work and personal life. We wanted to make the process 
            less stressful and much easier to integrate this organization into their busy lives. Lastly we also wanted to provide a visual of a student's 
            schedule by providing a calendar that can be populated with their classes, personal events, and so on. The end result of our site was reached 
            through our materials and processes learned through our CS Senior Capstone courses of Software Engineering I, II, and III (CS 460 - CS 462) At 
            Western Oregon University. This project began in February 2019 and came to its conclusion in June 2019. For further information on our processes 
            and tools used in the development of this website, please visit our team Bitbucket through the link previously provided above.</p>
        </div>
    </div>
    @Html.ActionLink("Back to Home", "../", "Home", null, new { @class = "btn btn-outline-dark" })
</div>