﻿@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Contact";
}
<!--
This code was borrowed from W3layouts but then modified to fit for this project. -Launia Davis
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Contact Us</title>
    <!-- Custom Theme files -->
    <link href="~/contactPage/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- for-mobile-apps -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Creative Contact Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //for-mobile-apps -->
    <!-- font-awesome icons -->
    <link href="~/contactPage/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--Google Fonts-->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body>
    <div class="wthree-dot">
        <h1 style="color:black;">Contact Yellow Umbrella Corp.</h1>
        <p>
            <center style="color:black;">
                Let us know how we are doing. Hit any issues? Shoot us a message and we'll be happy to fix it!
                <br>Want to share some love for our site? Tell us what you like. We appeciate it!
            </center>
        </p>
        <div class="profile">
            <div class="wrap">
                <div class="contact-form">
                    <form action="#" method="post">
                        <div class="w3l-contact-left">
                            <div class="topInfo">
                                <label style="color: white;"><strong>Please fill out the following areas.</strong></label>
                                <span></span>
                            </div>
                            <br>
                            <br>
                            <!-- One of the origianl input sections was removed. This section was the Phone Number input -->
                            <div class="styled-input agile-styled-input-top">
                                <input type="text" name="Name" required="" id="name">
                                <label>Name</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="email" name="Email" required="" id="email">
                                <label>Email</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="text" name="Subject" required="" id="subject">
                                <label>Subject</label>
                                <span></span>
                            </div>

                            <div class="styled-input">
                                <label>Captcha</label>
                                @Html.MathCaptcha()
                            </div>

                            @if (User.IsInRole("Administrator"))
                            {
                                <div class="styled-input">
                                    <p>@Html.ActionLink("View Comments", "Index", "Comments")</p>
                                    <span></span>
                                </div>
                            }
                        </div>
                        <div class="w3l-contact-right">
                            <div class="styled-input agileits-input">
                                <textarea name="Message" required="" id="message"></textarea>
                                <label>Message</label>
                                <span></span>
                            </div>
                            <input type="submit" value="SEND" onclick="ajax_call()">
                        </div>
                        <div class="clear"> </div>
                    </form>
                </div>
                <div class="wthree_footer_copy">
                    <p>© 2017 Creative Contact Form. All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@Scripts.Render("~/bundles/jquery")
<script>
    /// might want to get id from text field
    function ajax_call() {
        var n = document.getElementById("name").value;
        var e = document.getElementById("email").value;
        var s = document.getElementById("subject").value;
        var m = document.getElementById("message").value;
        window.alert("Thanks for your message!");

        source = '/Home/contactPush/';

        var data = { message: m, name: n, email: e, subject: s };
        $.ajax({
            type: "GET",
            dataType: "json",
            data: data,
            url: source,
            success: displayData,
            error: errorOnAjax
        });
    };
    function displayData(data) {
        var n = document.getElementById("name").value;
        var e = document.getElementById("email").value;
        var s = document.getElementById("subject").value;
        var m = document.getElementById("message").value;
        setTimeout(50000);
        location.reload();
        //window.alert(n + "_" + e + "_" + s + ":" + m);
    }
    function errorOnAjax() {
        console.log("error");
    }
</script>