@model IEnumerable<StudentScheduler.Models.School>
@{
    ViewBag.Title = "Information List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @*<img class="image-header" src="~/Content/YUCpattern3.png" />*@
    <div class="infoTitle text-md-center" style="margin-bottom:0">
        <h2>Student Scheduler Information List </h2>
        <p>
            We understand that there is a lot going on for each and every one of us and it can be hard to keep strack of. Sometimes it can be overwhelming so to help make things
            a little bit easier we have categorized some important topics and services that are provided here on the Student Scheduler site.
        </p>
    </div>
    <div class="container" style="margin-top:30px">
        <div class="row" id="infoList">
            <div class="col-md-5 major35">
                <img class="mx-auto d-block rounded" id="school-image" src="https://i.imgur.com/rjvdjGq.jpg" width="340" height="230" /><br />
                <a href="/Schools/Index" id="link"><span><img width="20" src="~/Content/checkblack.png" /></span><i> Schools</i></a>
                <p>You will see a list of universities that use our site. Select your university that you are or will be enrolled at.</p>
            </div>

            <div class="col-md-5 major35">
                <img class="mx-auto d-block rounded" id="school-image" src="https://i.imgur.com/QXClr1W.jpg" width="330" height="230" /><br />
                <a href="/Majors/Index" id="link"><span><img width="20" src="~/Content/checkblack.png" /></span><i> Majors</i></a>
                <p>Select your major based on what is available at your university of enrollment.</p>
            </div>

            <div class="col-md-5 major35">
                <img class="mx-auto d-block rounded" id="school-image" src="https://i.imgur.com/isVfIm8.jpg" width="410" height="230" /><br />
                <a href="/Cours/Index" id="link"><span><img width="20" src="~/Content/checkblack.png" /></span><i> Courses</i></a>
                <p>Check on what courses will be available for you to enroll in.</p>
            </div>
            @if (User.IsInRole("Student") && ViewBag.MajorId != null)
            {
                <div class="col-md-5 major35">
                    <img class="mx-auto d-block rounded" id="upload-image" src="https://i.imgur.com/b7MJhPQ.jpg" width="330" height="230" /><br />
                    <a href="/UserMajorRequirements/Index" id="link"><span><img width="20" src="~/Content/checkblack.png" /></span><i> Check My Major Requirements</i></a>
                    <p>View or update the completed requirements for your major.</p>
                </div>
            }
            @if (User.IsInRole("Student"))
            {
                <div class="col-md-5 major35">
                    <img class="mx-auto d-block rounded" id="upload-image" src="https://i.imgur.com/s2kgTdt.jpg" width="340" height="230" /><br />
                    <a href="/UserSchedules/Index" id="link"><span><img width="20" src="~/Content/checkblack.png" /></span><i> My Schedule</i></a>
                    <p>Keep track of your classes and other events.</p>
                </div>
            }
            <div class="col-md-5 major35">
                <img class="mx-auto d-block rounded" id="school-image" src="https://i.imgur.com/5gZ3rxB.jpg" width="370" height="230" /><br />
                <a href="/UniversityEvent/Index" id="link"><span><img width="20" src="~/Content/checkblack.png" /></span><i> University Events</i></a>
                <p>Check out what's happening at your university and get involved with others just like you!</p>
            </div>

            <div class="col-md-5 major35">
                <img class="mx-auto d-block rounded" id="upload-image" src="https://i.imgur.com/jEQoX4H.png" width="330" height="230" /><br />
                <a href="/Upload/Index" id="link"><span><img width="20" src="~/Content/checkblack.png" /></span><i> Upload</i></a>
                <p>Upload your current Degree Tracks so that we, the Student Scheduler site, can help assist you with your scheduling.</p>
            </div>
        </div>
        @Html.ActionLink("Back to Home", "../", "Home", null, new { @class = "btn btn-outline-primary" })
    </div>
</div>