﻿@model StudentScheduler.Models.Upload
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="relative" style="margin-bottom:0">
    <h2 class="absoluteA" style="text-align: center;">
        Upload Your Information
    </h2>
    <p class="absoluteB">
        By uploading your current school DegreeTracks and other relevant information, we can better assist you with your scheduling. 
        For our site please make sure that your file is created and filled with Excel. 
    </p>
    <img src="~/Content/infoHelp.png" class="absoluteC"/>
</div>
<div class="uploadInput">
    <h4>@ViewBag.Result</h4>
    @using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.TextBoxFor(m => m.file, new { type = "file" })
        <button id="submitButton" type="submit">Submit</button>
        @Html.ValidationMessageFor(model => model.file)
    }
    <br />
    <div>@Html.ActionLink("Show Progress", "Progress", "Upload")</div>
</div>
<br />
<br />
    @Html.ActionLink("Back to Info List", "InfoList", "Home", null, new { @class = "btn btn-outline-primary" })
