﻿@model discussionHub.Models.Discussion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Discussion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discussionTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discussionTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discussionDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discussionDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discussionActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discussionActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.discussionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
