﻿@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="leftCol">
        <h3>Following Topics</h3>
        <p>Discussion Topics that have a high following.</p>
    </div>
    <div class="middleCol">
        <h3>Featured Article</h3>
        <p>Featured article for the site.</p>
    </div>
    <div class="rightCol">
        <h3>Recent Topics</h3>
        <p>Recent Discussion Topics that were created.</p>
    </div>
</div>