﻿@{
    ViewBag.Title = "Home Page";
}

<style>

    form {
        float: none;
        margin: 0 auto;
        width: 100%;
    }
    .button {
        padding: 5px 10px;
        text-align: center;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
    }
    .secHome {
        border-style: solid;
        border-color: black;
        /* padding-left: 15px; 
        padding-right: 10px;
        padding-bottom: 5px;
        border-left-color: red;
        border-right-color: powderblue;
        border-bottom-color: sandybrown;
        border-top-color: darkslateblue; */
    }
    .jumbotron {
        height: 80px;
    }
</style>
<div class="row container-fluid center-block">
    <div class="jumbotron">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-3"> <img src="../Images/wwLogo.jpg" alt="DisscussLogo" width="20px" height="20px" /> </div>
                <div class="col-md-6">
                    <!--This will be the text box for input-->
                    <label for="searchString"></label>
                    @Html.TextBox("searchString", null, htmlAttributes: new { @class = "form-control", required = "required" })
                    <button class="button">Search</button>
                </div>
                <div class="col-md-3">User Profile</div>
            </div>
            <!--This will display a message if no results show up-->

        }
        @ViewBag.result

    </div>
</div>

<div class="row">
    <div class="col-md-4"> <!--Left column with topics-->
        <div class="row secHome">
            <!-- Following Topics here-->
            <h1>Following Topics</h1>
        </div>
        <div class="row secHome">
            <!--Categories to click on (Tech, Sports, Pol.)-->
            <h1>Categories</h1>
        </div>

    </div>
    <div class="col-md-4">
        <!-- Middle colummn with articles-->
        <div class="row secHome">
            <!-- Featured Article -->
            <h1>Featured Article</h1>
        </div>
        <div class="row secHome">
            <!--local Article-->
            <h1>Local Article</h1>
        </div>
        <div class="row secHome">
            <!--local Article-->
            
            <h1>@Html.ActionLink("All Discussions", "Index","Discussions")</h1>
        </div>
    </div>
    <div class="col-md-4">  <!--Right column with recent post from self-->
        <div class="row secHome">
            <!-- Recent Topics-->
            <h1>Recent Topic 1</h1>
            <h1>Recent Topic 2</h1>
            <h1>Recent Topic 3</h1>
        </div>
        <div class="row secHome">
            <!--Post from Yesterday -->
            <h1>Post from yesterday</h1>
        </div>
        <div class="row secHome">
        <!-- Post from last week-->
            <h1>Post from last week</h1>
        </div>
    </div>
</div>