﻿@model IEnumerable<StudentScheduler.Models.UserLogo>
@{
    ViewBag.Title = "Change Logo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Choose An Avatar</h2>

<div class="container" style="margin-top:30px">
    <div class="row" id="infoList">
        <div class="col-md-5 major35" style="background-color: white">
            <a href="Index" onclick="test1()"> <img class="mx-auto d-block rounded" id="im1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5AeoWZKee3824PbXpUax1ykFuYMntWsmgjLII-VZ8JLk38MWL4Q" width="330" height="330" onclick="ajax_call()" /><br /> </a>
        </div>
        <div class="col-md-5 major35" style="background-color: white">
            <a href="Index" onclick="test2()"> <img class="mx-auto d-block rounded" id="im2" src="https://media.istockphoto.com/vectors/funny-happy-cute-happy-smiling-avocado-vector-id939768622?k=6&m=939768622&s=612x612&w=0&h=BevVyOpXKWlyoceMuvXAqZnjZZfl_7i0EpOPQSTo8Ig=" width="330" height="330" onclick="ajax_call()" /><br /> </a>
        </div>
        <div class="col-md-5 major35" style="background-color: white">
            <a href="Index" onclick="test3()"> <img class="mx-auto d-block rounded" id="im3" src="https://i.pinimg.com/originals/29/21/a2/2921a2c69e186f704f87435027ba4987.jpg" width="330" height="330" onclick="ajax_call()" /><br /> </a>
        </div>
        <div class="col-md-5 major35" style="background-color: white">
            <a href="Index" onclick="test4()"> <img class="mx-auto d-block rounded" id="im4" src="https://i.pinimg.com/originals/55/31/a4/5531a4d7815f295b475a1cb46ea46960.png" width="330" height="330" onclick="ajax_call()" /><br /> </a>
        </div>
        <div class="col-md-5 major35" style="background-color: white">
            <a href="Index" onclick="test5()"> <img class="mx-auto d-block rounded" id="im5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT96T2n_43ofcl4I0at2Z7W_qwMMXpTqyBFLcgZIg5-dW6Cu2eG8g" width="330" height="330" onclick="ajax_call()" /><br /> </a>
        </div>
        <div class="col-md-5 major35" style="background-color: white">
            <a href="Index" onclick="test6()"> <img class="mx-auto d-block rounded" id="im6" src="http://www.amisvegetarian.com/wp-content/uploads/2018/09/ice-cream-images-clip-art-ice-cream-clip-art-ice-cream-images-animations.png" width="330" height="330" onclick="ajax_call()" /><br /> </a>
        </div>
        <div class="col-md-5 major35" style="background-color: white">
            <a href="Index" onclick="test7()"> <img class="mx-auto d-block rounded" id="im7" src="https://www.culinaryschools.org/clipart/rubber-duck.png" width="330" height="330" onclick="ajax_call()" /><br /> </a>
        </div>
        <div class="col-md-5 major35" style="background-color: white">
            <a href="Index" onclick="test8()"> <img class="mx-auto d-block rounded" id="im8" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR71iJ9EV6796UzbdZyJ9XrI1OSja4gcMf86CavaBJGc4PZGXtXxg" width="330" height="330" onclick="ajax_call()" /><br /> </a>
        </div>

    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script>
    function test1() {
        s = document.getElementById("im1").src;
        source = '/Manage/changeAvatar';
        var data = { src: s };
        $.ajax({
            type: "GET",
            dataType: "json",
            data: data,
            url: source,
            success: displayData,
            error: errorOnAjax
        });
    };
    console.log("doing some json work");
    /// might want to get id from text field
    function ajax_call() {
        var n = document.getElementById("name").value;
        var e = document.getElementById("email").value;
        var s = document.getElementById("subject").value;
        var m = document.getElementById("message").value;

        source = '/Home/contactPush/';

        var data = { message: m, name: n, email: e, subject: s };
        $.ajax({
            type: "GET",
            dataType: "json",
            data: data,
            url: source,
            success: displayData,
            error: errorOnAjax
        });
    };
    function displayData(data) {

    }
    function errorOnAjax() {
        console.log("error");
    }
</script>