﻿@model StudentScheduler.Models.SetCalendarViewModel
@{
    ViewBag.Title = "Set Google Calendar";
}

<div class="gumbotron">
    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("SetCalendar", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h4>Connect Google Calendar</h4>
        <hr />

        <p>To find your calendar ID, <a href="https://docs.simplecalendar.io/find-google-calendar-id/" target="_blank">follow these instructions</a>. Make sure your calendar is set to public!</p>

        <div class="form-group">
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.LabelFor(m => m.CalendarID, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.CalendarID, new { htmlAttributes = new { @class = "form-control", placeholder = "@group.calendar.google.com", pattern = "^.*(@group.calendar.google.com)$" } })
                @Html.ValidationMessageFor(m => m.CalendarID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Set Calendar" class="btn btn-outline-primary btn-sm" />
            </div>
        </div>

        <!-- (Be sure to add atsigns to the Html.s and the class's)
        <h4>Create Local Login</h4>
        <hr />
        Html.ValidationSummary("", new { class = "text-danger" })
        <div class="form-group">
            Html.LabelFor(m => m.NewPassword, new { class = "col-md-2 control-label" })
            <div class="col-md-10">
                Html.PasswordFor(m => m.NewPassword, new { class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            Html.LabelFor(m => m.ConfirmPassword, new { class = "col-md-2 control-label" })
            <div class="col-md-10">
                Html.PasswordFor(m => m.ConfirmPassword, new { class = "form-control" })
            </div>
        </div>
            -->
        <!------------ Cap Locks Warning - Use capsLockWarning.js with this page ----------->
        <!--<p id="pwdCapsWarning" style="color:red; display:none;">WARNING! Caps lock is ON.</p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Set password" class="btn btn-default" />
            </div>
        </div>-->
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript" src="~/Scripts/capsLockWarning.js"></script>
    }
</div>